@font-face {
  font-family: 'Beryozki';
  src: url('@/assets/fonts/Beryozki.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monomakh';
  src: url('@/assets/fonts/MonomakhUnicode.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
